extends base.jade

block content
	.content: .about

		h2='About Me'
		p='一个工具癖、伪 Geek 和成长中的产品汪。'
		p='相信学习和分享能创造价值。'

		h2='Things I Made'
		p='<a href="https://itunes.apple.com/cn/app/ma-ke-ji-hua/id1141710914" target="_blank" rel="external"> 马克计划 </a>，一个 iOS 个人项目进度管理工具'
		p='<a href="https://weibo.com/productdetail/" target="_blank" rel="external">Details Hunt</a>，收集各类有趣／贴心交互细节的微博'

		h2='Gears I Use'
		p='<strong> 手机：</strong> <del>Nexus 5</del>, <del>Blackberry Q10</del>, <del>iPhone 5s</del>,  iPhone 6s, <del>Meizu Note3</del>, MI 6'
		p='<strong> 平板：</strong> <del>iPad Retina</del>, <del>iPad mini</del>, iPad Pro 9.7’'
		p='<strong>Kindle:</strong> <del>Kindle Paperwhite</del>, Kindle Voyage'
		p='<strong> 耳机：</strong> <del>Bose QC25</del>, Sony 1ABT, <del>Bose QC20</del>, Bose QC30'
		p='<strong> 音响：</strong> <del>Bose Soundlink Mini</del>, Sony SRS-HG1, Sony CAS-1'
		p='<strong> 输入：</strong> Apple Pencil, Logitech MX Master'
		p='<strong> 键盘：</strong> Filco Minila Air (Brown), <del>Logitech K380</del>, MI MK01, Smart Keyboard'
		p='<strong> 电脑：</strong> Macbook Pro 13’ Mid 2014'
		p='<strong> 主机：</strong> Nintendo Switch'

		h2='Blog I Wrote'
		p='本博会定期产出一些产品笔记、工具推荐、教程等湿货博文。'
		p='欢迎 <a href="http://zoomyale.com/feed">RSS</a> 订阅。'
