extends base.jade

block content
	.content: .about

		h2='About Me'
		p='一个工具癖、伪 Geek 和成长中的产品汪。'
		p='相信学习和分享能创造价值。'

		h2='Things I Made'
		p='<a href="https://github.com/mojimomo/PlanIt" target="_blank" rel="external"> 马克计划 </a>，一个 iOS 个人项目进度管理工具'
		p='<a href="https://weibo.com/productdetail/" target="_blank" rel="external">Details Hunt</a>，收集各类有趣／贴心交互细节的微博'

		h2='Gears I Use'
		p='<strong> 手机：</strong> iPhone 6s, MI 6'
		p='<strong> 平板：</strong> iPad Pro 9.7’, Kindle Voyage'
		p='<strong> 耳机：</strong> Sony 1ABT, Bose QC30, Creative Aurvana Air'
		p='<strong> 音箱：</strong> Sony CAS-1'
		p='<strong> 输入：</strong> Apple Pencil, Logitech MX Master'
		p='<strong> 键盘：</strong> Filco Minila Air, MI MK01, Smart Keyboard, HHKB BT'
		p='<strong> 电脑：</strong> Macbook Pro 13’ Mid 2014'
		p='<strong> 主机：</strong> Nintendo Switch'
		p='<strong> 相机：</strong> FujiFilm X100T, Rollei 35S, Nikon FE2'

		h2='Blog I Wrote'
		p='本博会定期产出一些产品笔记、工具推荐、教程等湿货博文。'
		p='欢迎 <a href="http://zoomyale.com/feed">RSS</a> 订阅。'
